body {
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo2.2.png");  
    background-size: cover;
    background-position: center;
     background-attachment: fixed; 
    overflow: hidden;            
    height: 100vh;     
    font-family: "Hedvig Letters Serif", serif;
}



h1{
 
    position: fixed;
    bottom: 50px;
    right: 60px;
    font-size: 13px;
    max-width: 220px;
    text-align: right;
    padding: 10px;
    color: rgb(0, 0, 0);
     font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;

    
   
}
 



.logo {
    position: fixed;  
    top: 250px;           
    left: 20%;         
    width: 850px;   
    height: auto;   
}




#imagenes img {
    width: 420px;
    margin-top: 200px;
    margin-left: 700px;
}







.timer-container {
    position: fixed;
    bottom: 80px;
    left: 100px;
    text-align: left;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
}

.top-text {
    font-size: 17px;
    margin-bottom: 10px;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;  
}

.timer {
    font-size: 40px;
    font-weight: lighter;
    font-family: "Hedvig Letters Serif", serif;
    color: rgb(8, 65, 20);
}

.bottom-text {
    font-size: 14px;
    margin-top: 10px;
    word-spacing: 7px;
}
