body {
  
    position: relative;
    font-family: "Hedvig Letters Serif", serif;
    font-weight: 100px;
    font-size: 48px;
  margin-bottom: 40px;
   align-items: center;
   background-color:#f7f6f2;
}


h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-left: 100px;
   align-items: center;
   color: #e64d2b;
}


h3 {
  position: absolute;
  top: -30px;
  right: 20px;
  font-size: 15px;
  color: #e64d2b;
}

.columnas {
  display: flex;
  gap: 300px;
  margin-top: 100px;
  margin-left: 100px;
  justify-content: left;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.columna h2 {
    align-items: left;
  margin-bottom: 10px;
  color: #898989;
  font-size: 25px;
  
}


.btn {
  display: block;        
  width: 350px;         
  padding: 14px 20px;    
  text-align: left;      
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: #efede7;
  border-radius: 3px;
  text-decoration: none;
  box-sizing: border-box; 
}

.btn:hover {
  background-color: #e64d2b;
  color: white;

}
