* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  background: #230bff;
  padding: 20px;
}

/* 3x2  */
.gallery {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 28px;   
  row-gap: 60px;     
  justify-items: center;
}

.letter-e {
    position: relative;
    width: 200px;
    height: 280px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.vertical {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 18px;
}

.horizontal {
  position: absolute;
  left: 0;
  height: 18px;
}

.top    { top: 0px; }
.middle { top: 130px; }
.bottom { bottom: 0px; }

.e1 .vertical { width: 70px; background: #d9d9d9; }
.e1 .horizontal { height: 50px; background: #d9d9d9; }
.e1 .top    { width: 160px; position: absolute; top: 8px;}
.e1 .middle { width: 140px; }
.e1 .bottom { width: 160px; bottom: 8px; }

.e2 .vertical { 
  width: 38px; background: #c83c75;}
.e2 .horizontal { height: 38px; background: #c83c75;}
    #triangle-topleft {
      width: 0;
      height: 0;
      border-top: 140px solid #c83c75;
      border-right: 120px solid transparent;
      position: absolute;
      left: 35px; 
      top: 0; 
    }
    #triangle-left {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 100px solid #c83c75;
      border-bottom: 50px solid transparent;
      position: absolute;
      left: 20px; 
      top: 89px;
    }
    #triangle-bottomleft {
      width: 0;
      height: 0;
      border-bottom: 140px solid #c83c75;
      border-right: 120px solid transparent;
      position: absolute;
      left: 35px;   
      bottom: 0px; 
    }

.e3 .vertical { width: 70px; background: #ff0000; border-radius: 30px; }
.e3 .horizontal { height: 50px; border-radius: 6px; background: #ff0000; }
.e3 .top    { width: 150px; top: -16px; border-radius: 10px; transform: rotate(-20deg); }
.e3 .middle { width: 150px; top: 100px; border-radius: 50px; transform: rotate(-20deg);height: 30px; }
.e3 .bottom { width: 180px; bottom: 18px; border-radius: 10px; transform: rotate(-20deg);}

/* e4 */
#circle {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  background: #230bff;
  border-radius: 50%
}
.meia-lua{
    width: 100px;
    height: 75px;
    border-radius: 150px 150px 0px 0px;
      background: rgb(205, 88, 20);
    margin-top: -180px;
    margin-left: 60px;
}

.meia-lua2{
    width: 100px;
    height: 75px;
    border-radius: 150px 150px 0px 0px;
      background: rgb(205, 88, 20);
    margin-bottom: 20px;
    margin-left: 60px;
    transform: rotate(180deg);
}

.meia-lua3{
    position: relative;
    width: 70px;
    height: 60px;
    border-radius: 150px 150px 0px 0px;
    background: #230bff;
    bottom: 90px;
    left: 32px;
    transform: rotate(180deg);
}
#rectangle {
   width: 40px;
  height: 20px;
  background: #230bff;
  position: relative; 
  bottom: 148px; 
  left: 80px;
}
.meia-lua-dintre{
    width: 50px;
    height: 48px;
    border-radius: 150px 150px 0px 0px;
    background: #230bff;
    position: absolute; 
    top: 60px;
    margin-left: 86px;
    
}

.e5 .vertical { width: 40px; background: #39ff88; }
.e5 .horizontal { height: 60px; background: #39ff88;
  left: 6px; border-radius: 2px;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
}
.e5 .top    { width: 140px; top: 8px; }
.e5 .middle { width: 160px; top: 120px; }
.e5 .bottom { width: 190px; bottom: 8px; }



.e6 .vertical { width: 26px; background: #8e44ad; }
.e6 .top    { width: 170px; height: 50px; background: #8e44ad; top: 0px; border-radius: 6px;  border-radius: 0px;}
.e6 .middle { width: 120px; height: 30px; background: #8e44ad; top: 132px; border-radius: 4px; border-radius: 0px; }
.e6 .bottom { width: 170px; height: 50px; background: #8e44ad; bottom: 0px; border-radius: 6px; border-radius: 0px; }
 #triangle-petitadalt {
     width: 0;
      height: 0;
      border-top: 50px solid #8e44ad;
      border-right: 50px solid transparent;
      position: absolute;
      left: 112px; 
      top: 20px; 
      transform: rotate(225deg);
    }

 #triangle-petitabaix {
     width: 0;
      height: 0;
      border-top: 50px solid #8e44ad;
      border-right: 50px solid transparent;
      position: absolute;
      left: 112px; 
      bottom: 20px; 
      transform: rotate(45deg);
    }

 #triangle-petitfora1 {
     width: 0;
      height: 0;
      border-top: 50px solid #8e44ad;
      border-right: 30px solid transparent;
      position: absolute;
      left: -10px; 
      top: 3px; 
      transform: rotate(-30deg);
    }


     #triangle-petitfora2 {
     width: 0;
      height: 0;
      border-top: 30px solid #8e44ad;
      border-right: 50px solid transparent;
      position: absolute;
      left: -22px; 
      bottom: 14px; 
      transform: rotate(-58deg);
    }

    #triangle-medio {
     width: 0;
      height: 0;
      border-top: 50px solid #8e44ad;
      border-right: 50px solid transparent;
      position: absolute;
      left: 100px; 
      top: 120px; 
      transform: rotate(-46deg);
    }
   



.e2:hover{
  transform: scale(05);
  transform-origin: center;
  transition: transform 0.5s;
  z-index: 1;
}

.e1:hover {
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #0ff);
  transition: filter 0.6s ease-in-out;
}

.e3 .vertical, 
.e3 .horizontal {
  background: linear-gradient(90deg, #ff0000, #ff7300, #ff0000);
  background-size: 300% 300%;
  transition: background-position 1s;
}

.e3:hover .vertical, 
.e3:hover .horizontal {
  background-position: 100% 0;
}

.e5 .horizontal {
  position: absolute; 
  transition: left 1s ease; 
}

.e5:hover .horizontal {
  left: 100vw; 
}


.e6:hover .vertical, 
.e6:hover .horizontal {
  transition: transform 1s ;
  opacity: 0%;
 
}


.e4:hover {
transform: scale(10);
  transform-origin: center;
  transition: transform 0.5s;  
  z-index: 1;
}