body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}





.shapeDot72 {
  display: inline-block;
  border-radius: 50%;
  margin: 4px;
}





#patternBox83 {
  padding: 20px;
  width: 100%;
  text-align: left;
}

.patternWord83 {
  display: inline-block;
  margin: 6px;
  font-family: Arial, sans-serif;
}


.NextPage {
  position: fixed;       
  bottom: 20px;          
  right: 20px;          
       
  color: rgb(255, 255, 255);         
  padding: 10px 14px;     
  text-decoration: none;  
  font-size: 24px;       
}

.PageBefore {
  position: fixed;       
  bottom: 20px;          
  left: 20px;          
       
  color: rgb(255, 255, 255);         
  padding: 10px 14px;     
  text-decoration: none;  
  font-size: 24px;       
}