
* { box-sizing: border-box; }
html,body {
  margin:0;
  height:100%;
  background: radial-gradient(circle at 30% 20%, #0e0e0e, #000);
  font-family: "Helvetica Neue", Arial;
}

#viewport {
  width:100vw;
  height:100vh;
  overflow:hidden;
  position:relative;
  cursor:grab;
  touch-action: none;
}

#space {
  position:absolute;
  width:1536px;  
  height:1024px;
  top:0;
  left:0;
  transform: translate(0px, 0px);
  will-change: transform;
  background: url("img/fondo.png")no-repeat center center;
  background-size: cover;
    background-size: 1536px 1024px;
}


.item {
  position:absolute;
  width:300px;
  height:auto;
  user-select:none;
  -webkit-user-drag: none;
  cursor:grab;
}
.item:active { cursor:grabbing; }


#overlay {
  position: fixed;
  inset: 0;
  display: flex;
   flex-direction: row-reverse;
  background: rgba(255, 245, 240, 0.85); 
  z-index: 2000;
  padding: 20px;
  
}



#overlay.hidden { display:none; }

#overlayImg {
  max-width:80%;
  max-height:80%;
  margin-top: 60px;
  margin-right: 300px;

  

}
#closeOverlay {
  position:absolute;
  top:80px;
  right:25px;
  background:transparent;
  color:rgb(0, 0, 0);
  border:0;
  font-size:24px;
  cursor:pointer;
   z-index: 3000px;
}

#viewport.dragging { cursor:grabbing; }




#sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  height: 100vh;
  width: 200px;
  background: #eee6e1;
  line-height: 10px;

  color: #C02423;
  padding-top: 40px;
  z-index: 10px; 
  
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  margin: 12px 0;
}

#sidebar a {
  color: #C02423;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  
}

#sidebar a:hover {
  font-weight: 400px;
  color: #e17b7b;
}




#viewport {
  margin-left: 200px;
  width: calc(100vw - 200px);
}

#Text {
  max-width: 600px;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: left;
}

#Title {
  font-size: 70px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10000px;
}

#Title2 {
  font-size: 15px;
  font-family: "Hedvig Letters Serif", serif;
  font-style: italic;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}



#Desc {
  font-size: 30px;
   max-width: 300px;
  margin-bottom: 0;
  font-family: "Hedvig Letters Serif", serif;
  font-style: italic;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #C02423;
  
}

#Desc2 {
  font-size: 13px;
  width: 600px;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 400px;
  position: fixed;    
  bottom: 20px;          
  left: 30px;            
  right: 20px;
  text-align: left; 
  padding: 10px; 
  margin-right: 70%;
}


#Desc3 {
  font-size: 13px;
  max-width: 600px;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 400px;
  position: fixed;    
  bottom: 20px;          
  left: 50%;  
  right: 20px;          
  width: 100%;      
  text-align: left; 
  padding: 10px; 
}

#Desc4 {
  font-size: 13px;
  max-width: 10px;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 400px;
  position: fixed;    
  top: 70%;  
  right: 20%;                  
  text-align: left; 
  padding: 10px; 
  color:rgb(0, 0, 0);
}







/* opacitat al fer apretar */
.item {
  transition: opacity 0.4s ease;
}

.filtrando .item {
  opacity: 0.2;
}

.filtrando .item.activa {
  opacity: 1;
}

#sidebar a.activo {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}







#main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #eee6e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10000;
  color: #C02423;
}

#main-header .header-logo {
   height: auto;
  max-height: 40%;
  margin-top: 5px;
}

/* 1pag */
#intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee6e1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#intro-image {
  cursor: pointer;
  max-width: 800px;
  width: 100%;
  margin-top: 50px; 
}


